{% extends "base.html" %}
{% block content %}
  <h1>My Cool Blog Posts</h1>
  {% comment %} Iterate over the default context variable 'object_list' {% endcomment %}
  {% for post in object_list %}
  <div class="post">
    <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
    <p class="byline">
      Posted by {{ post.author.username }} &mdash; {{ post.published_date }}
    </p>
    <div class="post-body">
      {{ post.text }}
    </div>
    <ul class="categories">
      {% for category in post.categories.all %}
        <li>{{ category.name }}</li>
      {% endfor %}
    </ul>
  </div>
  {% empty %}
  <p>No posts available.</p>
  {% endfor %}
{% endblock %}

